interface/flows-bia.json
[
    {
        "id": "bf7b322ab4a20ae7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dfe5f1415ef7b34d",
        "type": "inject",
        "z": "bf7b322ab4a20ae7",
        "name": "Data e hora atual",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "data e hora atual",
        "payload": "object",
        "payloadType": "date",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "70581c6b66d4030a"
            ]
        ]
    },
    {
        "id": "dbf14f1994743daf",
        "type": "debug",
        "z": "bf7b322ab4a20ae7",
        "name": "saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 260,
        "wires": []
    },
    {
        "id": "70581c6b66d4030a",
        "type": "function",
        "z": "bf7b322ab4a20ae7",
        "name": "function 1",
        "func": "// 1. Inicializa ou recupera contadores persistentes\nlet stats = context.get('stats') || { \n    total: 0, \n    sucessos: 0, \n    falhas: 0, \n    estado: \"IDLE\" \n};\n\nconst log = msg.payload.toString();\n\n// 2. Regras de interpretação (Regex ou Includes)\nif (log.includes(\"programa em execução\")) {\n    stats.estado = \"EXECUTANDO\";\n} \nelse if (log.includes(\"programa em home\")) {\n    stats.estado = \"HOME\";\n} \nelse if (log.includes(\"esteira 1 em execução\")) {\n    stats.estado = \"ESTEIRA_ATIVA\";\n}\n\n// 3. Lógica de Contagem de Peças/Ciclos\n// Ajuste os termos abaixo conforme o log real do seu robô\nif (log.includes(\"Ciclo concluído\") || log.includes(\"Peça processada\")) {\n    stats.total++;\n    stats.sucessos++;\n} else if (log.includes(\"Erro\") || log.includes(\"Falha\")) {\n    stats.total++;\n    stats.falhas++;\n    stats.estado = \"ERRO\";\n}\n\n// 4. Cálculo da Taxa de Acerto\nlet taxa = stats.total > 0 ? (stats.sucessos / stats.total) * 100 : 0;\n\n// 5. Salva o progresso no contexto do nó\ncontext.set('stats', stats);\n\n// 6. Prepara o Payload para o Backend Node.js\nmsg.payload = {\n    status_robo: stats.estado,\n    total_pecas: stats.sucessos,\n    total_ciclos: stats.total,\n    taxa_acerto: taxa.toFixed(1) + \"%\",\n    ultimo_log: log\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 260,
        "wires": [
            [
                "dbf14f1994743daf",
                "e81831a5208315e1"
            ]
        ]
    },
    {
        "id": "e81831a5208315e1",
        "type": "http request",
        "z": "bf7b322ab4a20ae7",
        "name": "Enviar para Dashboards",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:3001/update-robot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 400,
        "wires": [
            [
                "dbf14f1994743daf"
            ]
        ]
    }
]